﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChartJs</title>
</head>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <h2>Charts Js Example </h2>

    <div class="col-md-12">
  


            <div class="row">
                <div class="col-md-4">
                    <canvas id="canvas1" width="10" height="10"></canvas>
                </div>
                <div class="col-md-4">
                    <canvas id="canvas2" width="10" height="10"></canvas>
                </div>

                <div class="col-md-4">
                    <canvas id="LineCanvas"></canvas>

            
            </div>
        </div>
    </div>

    <br />
    <hr />

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <canvas id="doubleLine" width="10" height="10"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="donut" width="10" height="10"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="canvas3"></canvas>

            </div>
        </div>

    </div>


@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/assets/js/CustomCharts/ChartJs.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="~/assets/plugins/ChartjsBundle/Chart.bundle.js"></script>
    <script src="~/assets/plugins/ChartjsBundle/Chart.PieceLabel.js"></script>
    <script src="~/assets/plugins/ChartjsBundle/Chart.PieceLabel.min.js"></script>


    <script>

        //Initalized array with values
        var chartValues1 = [40,70,20,30,50,90,120,30,45,87];             
        var chartValues2 = [121,5,25,15,421,14,45,210,102,59];
        var Lables = ["Lab1", "Lab2", "Lab3", "Lab4", "Lab5", "Lab6", "Lab7", "Lab8", "Lab9", "Lab10"];



    $(document).ready(function() {

 
        //Functions call for chart js
        SingleBarChart_ChartJs(chartValues1, Lables);
        DoubleBarChart_ChartJs(chartValues1,chartValues2, Lables);
        SingleLineChart_ChartJs(chartValues1, Lables);
        DoubleLineChart_ChartJs(chartValues1, chartValues2, Lables);



        PieCharts(chartValues1, Lables);


        doughnut(chartValues2, Lables);



    });






    </script>
</body>
</html>
