﻿@{
    ViewBag.Title = "GoogleChart";
}

<h2>GoogleChart</h2>

<div class="container">
    <div class="col-md-4" id="myChartDiv" style="height: 450px; width: 700px;"></div>
</div>
<div class="col-md-4" id="myChartDiv4" style="height: 450px; width: 700px;"></div>


<div id="chart_div" style="height: 400px; width: 500px;">

</div>


<div id="chart_div2" style="height: 400px; width: 500px;">

</div>


@*<script src="~/Scripts/jquery-3.1.0.min.js"></script>*@


<script src="~/assets/js/CustomCharts/GoogleCharts.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">



</script>


<script>
    google.load('visualization', '1', { packages: ['corechart'] });
    google.charts.load('current', { packages: ['corechart', 'line'] });
    //google.charts.setOnLoadCallback(drawChart);

    var chartinfoList = new Object();
    var listLength;
    var chartData;

    $(document).ready(function() {
        //SetChartInfo();
        getValues();

        PieChart_Google(chartinfoList, listLength);
        // BarChart(chartinfoList, listLength);
        debugger;
        BarChart_Google(chartinfoList, listLength);
        LineChart_Google(chartinfoList, listLength);
        //DonutChart_Google(chartinfoList, listLength);

    });


    function getValues() {
        var urlpath = '@Url.Action("BarChart", "Charts")';
        $.ajax({
            url: urlpath,
            dataType: 'json',
            type: "Get",
            async: false,
            success: function(result) {
                for (var i = 0; i < result.length; i++) {

                    chartinfoList[i] = ({ WeekNo: result[i].WeekNo, MaxTemp: result[i].MaxTemp, MinTemp: result[i].MinTemp });
                }

            }

        });

        listLength = Object.keys(chartinfoList).length;

    }


    //function SetChartInfo2(chartinfoList, listLength) {
    //    debugger;

    //    var data = new window.google.visualization.DataTable();
    //    data.addColumn('string', 'Column Name');
    //    data.addColumn('number', 'Column Value');
    //    for (var i = 0; i < listLength; i++) {
    //        data.addRow([chartinfoList[i].WeekNo, chartinfoList[i].MinTemp]);
    //    }
    //    var options = {
    //        title: 'USA City Distribution',
    //        is3D: true
    //    };
    //    new window.google.visualization.PieChart(document.getElementById('myChartDiv')).
    //    draw(data, {
    //        title: "Google Pie Chart"

    //    });


    //}


    //google.setOnLoadCallback(drawChart);

    //function drawChart() {
    //    debugger;
    //    var data = new google.visualization.DataTable();
    //    data.addColumn('string', "Test1");
    //    data.addColumn('number', "Test2");
    //    data.addColumn('number', "Test3");

    //    for (i = 0; i < 4; i++) {
    //        data.addRow([chartinfoList[i].WeekNo, chartinfoList[i].MaxTemp, chartinfoList[i].MinTemp]);
    //    }
    //    var options = {
    //        title: 'Sale and Purchase Compare',
    //        hAxis: { title: "asd", titleTextStyle: { color: 'red'} }
    //    };

    //    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    //    chart.draw(data, options);
    //}


</script>