﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Graph Charts Implementations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


    <hr/>

<div class="container">
    <div class="row">
        <div class="col-md-3"><button class="btn btn-info" onclick="location.href = '@Url.Action("Chartjs", "Charts")'">Chart Js</button>
        </div>
        <div class="col-md-3"><button class="btn btn-info" onclick="location.href = '@Url.Action("Morris", "Charts")'">Morries Chart</button>
        </div>
        <div class="col-md-3"><button class="btn btn-info" onclick="location.href = '@Url.Action("GoogleChart", "Charts")'">Google Charts</button>
        </div>
        <div class="col-md-3"><button class="btn btn-info" onclick="location.href = '@Url.Action("Index", "Charts")'">Flot Chart</button>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
