﻿@{
    ViewBag.Title = "Morris";

}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="~/assets/plugins/morriesChart/morris.css" rel="stylesheet"/>
<style>
    .containers {
        max-width: 100%;
    }
</style>
<h2>Morris Chart</h2>


<div class="containers">

    <div class="row">
        <div class="col-md-4">
            <div id="myfirstchart" ></div>

        </div>
        <div class="col-md-4">
            <div id="myfirstchart2" ></div>
        </div>
        <div class="col-md-4">
            <div id="myfirstchart3"></div>
        </div>
    </div>
   
</div>


<hr/>


<div class="containers">

    <div class="row">
        <div class="col-md-4">
            <div id="morrischart1"></div>

        </div>
        <div class="col-md-4">
            <div id="morrischart2"></div>
        </div>
        <div class="col-md-4">
            <div id="morrischart3"></div>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="~/assets/plugins/morriesChart/raphael-min.js"></script>
<script src="~/assets/plugins/morriesChart/morris.min.js"></script>

<script src="~/assets/js/CustomCharts/MorriesChart.js"></script>
<script type="text/javascript">



</script>


<script>

    var chartData = [];
    var donutchartArray = [];
 
    //var a;
    //var b;
    //var chartLabel = [];
    //var chartValue = [];
    var chartValues1 = [40, 70, 20, 30, 50, 90, 120, 30, 45, 87];
    var chartValues2 = [121, 5, 25, 15, 421, 14, 45, 210, 102, 59];
    var Lables = ["Lab1", "Lab2", "Lab3", "Lab4", "Lab5", "Lab6", "Lab7", "Lab8", "Lab9", "Lab10"];

    $(document).ready(function () {

        //This function is for adding values and label to a array 
        // xLabel represent Chart x axis Label
        // yKeyValue1 and ykeyvalue2 represent Chart y axis Values


        for (var i = 0; i < chartValues1.length; i++) {
            chartData.push({ 'xLabel': Lables[i], 'yKeyvalue1': chartValues1[i], 'yKeyValue2': chartValues2[i] });
        }


        //This function add Values for showing Donut chart
        // do not chage name of 'label' and 'value'
        for (var i = 0; i < chartValues1.length; i++) {
            donutchartArray.push({ 'label': Lables[i], 'value': chartValues2[i] });
        }


    

        //Function Calling to show chart

        DoubleBarChart(chartData, 'myfirstchart', 'xLabel', 'yKeyvalue1', 'yKeyValue2', 'CustomLabelName1', 'CustomLabelName2');
        DoubleLineChart(chartData, 'myfirstchart2', 'xLabel', 'yKeyvalue1', 'yKeyValue2', 'CustomLabelName1', 'CustomLabelName2');
        DoubleAreaChart(chartData, 'myfirstchart3', 'xLabel', 'yKeyvalue1', 'yKeyValue2', 'CustomLabelName1', 'CustomLabelName2');
        DonutChart("morrischart1", donutchartArray);

    });







</script>